@tailwind base;
@tailwind components;
@tailwind utilities;

.prettier-scrollbar {
  --sb-track-color: rgb(125, 114, 89);
  --sb-thumb-color: rgb(239, 153, 149);
  --sb-size: 6px;

  scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

.prettier-scrollbar::-webkit-scrollbar {
  width: var(--sb-size);
}

.prettier-scrollbar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 6px;
}

.prettier-scrollbar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 6px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}

.login-form {
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="email"],
input[type="password"],
input[type="nome"],
input[type="cognome"] {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

button.btn {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.btn:hover {
  background-color: #3e8e41;
}